@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height:1.5;
}

html {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.grid {
  display: grid;
}

/*-------------------------------------*/
/* Hero Banner                         */
/*-------------------------------------*/

.banner {
    background: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.9)),
        url('../img/hero-banner.gif') 
        no-repeat center;
    background-size: cover;
    text-align: center;
    height: 650px;
}

.banner-text {
    text-align: left;
    place-content: center;

    h3 {
        font-size: 36px;
        font-weight: 600;
        color: #fff;
    }
    p {
        font-size: 18px;
        font-weight: 400;
        color: #999;
    }
    hr {
        margin-top: 20px;
        width: 10%;
        color: #fff;
    }
}

main {
    background-color: #333;
    padding: 25px;
    height: 1000px;
    text-align: center;
    justify-content: center;

    h2 {
        font-size: 15px;
        font-weight: 600;
        color: #999;
        text-align: left;
        margin-top: 50px;
    }

    h3 {
        font-size: 20px;
        font-weight: 400;
        color: #999;
        text-align: left;
        margin-top: 100px;
    }

    h4 {
        font-size: 25px;
        font-weight: 600;
        color: #998;
        margin-top: 20px;
    }

    button {
        margin-top: 20px;
        font-weight: 500;
        padding: 10px 20px;
        background-color: #998;
        color: #333;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    p {
        font-size: 18px;
        font-weight: 250;
        color: #888;
        text-align: left;
        margin-top: 20px;

        a {
            font-weight: 350;
            color: #e6e6e6;
            text-decoration: none;
        }
    }

    hr {
        margin-top: 50px;
        width: 2%
    }
}


@media (min-width: 340px) {
    .banner {
        text-align: center;
        height: 290px;
    }
    .banner-text {
        width: 280px;
        margin-top: 50px;
    }
}

@media (min-width: 480px) {
    .banner {
        height: 360px;
        padding: 100px;
        justify-content: left;
    }
}

@media (min-width: 768px) {
    .banner {
        height: 390px;
    }
    .banner-text {
        width: 400px;
    }
}

@media (min-width: 900px) {
    .banner {
        height: 100svh;
    }
}
